<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    <title>13chan | Defualt Forum Title</title>
    <style>

    </style>
</head>

<body id="main">
    <% include ../../partials/header %>
    <br>
    <br>
    <h2 class="center-text">name of board here</h2>
    <h3>abbrivation</h3>


    <% include ../../partials/footer %>

</body>

</html>

