<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    

</head>

<body id="main">
    <% include ../../partials/header %>
    <br>
    <br>
    <% if(typeof boardName != 'undefined' && boardName != null){ %>
        <h1 class="center-text"> </h1>
        <h2 class="center-text"> <%= abbreviation %> </h2>
    <% }else{ %>
        <h1 class="center-text"> dork </h1>
        <h2 class="center-text"> something went wrong :( </h2>
    <% } %>
    Create Post | Sort by 
    <select>
        <option value="Bumped">Bumped</option>
        <option value="Date">Date</option>
        <option value="Posts">Posts</option>
        <option value="Activity">Activity</option>
    </select>
    <hr class="belowName">
    <form class="center-text" method="post">
        <h2>Create thread</h2>
        <br>
        <h4><p>Options: doesn't do shit right now</p></h4>
        <input type="text" name="option" placeholder="costum options(no worky)"> 
        <h4><p>Name: (if boards are anon use flash to remove name.)</p></h4>
        <input type="text" name="name" placeholder="if board is anon, not used."> 
        <br>
        <h4><p>Subject: </p></h4>
        <input type="text" name="subjectThread" placeholder="Subject of Post"> 
        <br>
        <h4><p>Image file</p></h4>
        <input type="file" name="file" size="chars"> 
        <br>
        <h4><p>Text</p></h4>
        <input type="text" name="text" placeholder="Comment on post">
        <br>
        <button type="Submit" id="Submit">Submit</button>
    </form>



    <% include ../../partials/footer %>

</body>

</html>

