<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    <title>13chan | Defualt Forum Title</title>
    <style>
        /* doesntwork */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e3c3c+0,7a4040+27,7c6363+100 */
        background: #9e3c3c; /* Old browsers */
        background: -moz-linear-gradient(top,  #9e3c3c 0%, #7a4040 27%, #7c6363 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #9e3c3c 0%,#7a4040 27%,#7c6363 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #9e3c3c 0%,#7a4040 27%,#7c6363 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e3c3c', endColorstr='#7c6363',GradientType=0 ); /* IE6-9 */
    </style>
</head>

<body id="main">
    <% include ../../partials/header %>
    <br>
    <br>
    <% if(typeof boardName != 'undefined' && boardName != null){ %>
        <h2 class="center-text"> <%= boardName %> </h2>
        <h3 class="center-text"> <%= abbreviation %> </h3>
    <% }else{ %>
        <h2 class="center-text"> dork </h2>
        <h3 class="center-text"> something went wrong :( </h3>
    <% } %>
    
    


    <% include ../../partials/footer %>

</body>

</html>

