<!DOCTYPE html>
<html lang="en-US">

<head>
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    <title>13chan | Page not Found</title>
    <style>

    </style>
</head>

<body id="main">
    <% include ../../partials/header %>
    <br>
    <br>
    <h2 class="center-text">Error: 404; Page not found</h2>
    <h3 class="center-text">nice job....</h3>
    Create Post | Sort by 
    <select>
        <option value="Bumped">Bumped</option>
        <option value="Date">Date</option>
        <option value="Posts">Posts</option>
        <option value="Activity">Activity</option>
    </select>
    <% include ../../partials/footer %>
</body>

</html>








Error 404, page not found.