<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    <title>13chan | About 13chan and the Owner</title>
    <style>

    </style>
</head>

<body id="main">
    <% include ../../partials/header %>
    <br>
    <br>
    <h2 class="center-text">About 13chan and it's owner</h2>
    <p>19 year old from new york</p>
    <p>contact me at fufyfrpr@gmail.com if you want</p>

    <% include ../../partials/footer %>

</body>

</html>

