<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    <title>13chan | 13chan Home an Anonymous Image Board</title>
</head>

<body id="main">
    <% include ../../partials/header %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="search-box">
        <a href="/search"><h3 id="center" class="fixheight">Search Boards</h3></a>
    </div>
    <br>
    
    <div class="row">
        <div id="sponsored-box">
            <div id="inception-box">
                <h3 id="center" class="fixheight">Popular Threads</h3>
                <hr id="no-margin">
            </div>
        </div>
    </div>    
    
    <br>
    <br>
    <div class="row">
        <div id="about-box" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div id="aboutinception-box">
                <h3 id="center" class="fixheight">Most Active Boards</h3>
                <hr id="no-margin">
            </div>
        </div>
    </div>
    
    <br>
    
    
    <br>
    
    <div class="row">
        <div id="about-box" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div id="aboutinception-box">
                <h3 id="center" class="fixheight">Sponsored Boards</h3>
                <hr id="no-margin">
            </div>
        </div>
    </div>
    
    <% include ../../partials/footer %>

</body>

</html>