<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/scripts %>
    <% include ../../partials/style %>
    <title>13chan | Home of an Anonymous Image Board</title>
</head>

<body id="main">
    <% include ../../partials/header %>
    <p>Your email and password are saftly encryped and only ever used for verification.<p>


    <p>Will add more here later<p>
    <% include ../../partials/footer %>

</body>

</html>
